<?xml version="1.0" encoding="utf-8"?>
<Project>
  <PropertyGroup>
    <WebPublishMethod>FileSystem</WebPublishMethod>
    <PublishProvider>FileSystem</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <SelfContained>false</SelfContained>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <PublishReadyToRun>true</PublishReadyToRun>
    <publishUrl>C:\Users\Andrew\AppData\Local\AlgoTradeForge\HistoryLoader</publishUrl>
    <DeleteExistingFiles>false</DeleteExistingFiles>
    <EnvironmentName>Production</EnvironmentName>
  </PropertyGroup>
</Project>
